* {
   
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.promesse-span {
    font-size: 28px;
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.prestation-card{
    box-shadow: 0px 2px 2px 2px  #1A1A1D ;
    border: #1A1A1D 1px solid;
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 32%;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius:25px;
        
}
.prestation-container{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.prestation-contenu{

    display: flex;
    flex-wrap: wrap;
    gap:23px;
}
.prestation{
    padding: 48px;

    
}

.foto-card{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius:25px;
}
.prestation-card p{
    justify-content: center;
    font-size:28px;
    text-align: left;
    padding: 4px;
}
.prestation-card a {
    margin-top: 10px;
    padding: 8px 16px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
}

.promesse-contenu {
    gap: 48px;
    display: flex;
}


.promesse {
    background: #fdf1ec;
}

.promesse-container {

    font-size: 34px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
    padding: 64px 0px;
}

.promesse-container h3 {
    font-size: 32px;
}

.promesse-bouton {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: rgb(3, 3, 50);
    border-radius: 50px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 22px;

}

.hero {
    color: white;
    background-size: cover;
    background-position: center;
    background-image: url(assets/photographe/galerie/background-hero.jpg);
    padding: 20px;
}

.hero p {
    text-align: left;
    font-size: 44px;
    font-weight: 700;
}


h1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 2px;
}

h2 {
    font-size: 55px;
    text-align: center;
}

h3 {
    font-size: 44px;
}

p {
    font-size: 28px;
}

ul {
    list-style: none;
    font-size: 28px;
    text-align: left;
    font-size: 38px;
}

body {
    line-height: 1.2;
    font-family: Times, serif;

}

.pro {
    width: 400px;
    border-radius: 25px
}

.présta {
    padding: 10px;
    align-items: center;
    box-shadow: 40px;
    width: 300px;
    height: 450px;
}


.cta {
    padding: 18px 24px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(3, 3, 50);
}

.hero-title {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.hero-cta {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 200px;
    gap: 72px;
}

.cta2 {
    color: black;
    background-color: #fdf1ec;
    border-radius: 50px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 22px;
}

header {

    background-color: #1A1A1D;
}

.container {
    height: 100%;
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.section-formulaire {
    height: 100vh;
}

nav a {
    display: flex;
    text-decoration: none;

    color: white;
    font-size: 28px;
    justify-content: space-between;

}

.logo {
    border-radius: 70px;
    width: 120px;
}

.nav {
    padding: 24px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bouton {
    display: flex;
    gap: 48px;
    align-items: center;
}




.card {
    padding: 20px;

}

.card-titlle {
    text-align: center;
    font-size: 35px;
}



.formulaire {
    font-size: 22px;
    background: rgb(236, 231, 231);
    padding: 90px 80px;
}

.card p {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

}

.div card {
    display: flex;
}

.contact {
    padding: 8px 16px;
    border-radius: 50px;
    color: #1A1A1D;
    background-color: #fdf1ec;
}